[submodule "src/libs/jsonfile"]
	path = src/libs/jsonfile
	url = git@github.com:AndresBott/jsonfile.git
[submodule "src/libs/pyf"]
	path = src/libs/pyf
	url = git@github.com:AndresBott/pyf.git
[submodule "src/libs/aemtools"]
	path = src/libs/aemtools
	url = git@github.com:AndresBott/aemtools.git
